@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Poppins", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  background-color: white;
}
.card:hover {
  box-shadow: 3px 3px 60px rgba(13, 13, 14, 0.253);
}
.card__header {
  width: 100%;
  height: 400px;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__body {
  padding: 1rem;
}
.card__title {
  font-weight: 500;
  font-size: 1.5rem;
}
.card__description {
  padding: 1rem 1rem;
  font-family: "Roboto", sans-serif;
  text-align: start;
}
.card__price {
  font-weight: 500;
  font-size: 1.5rem;
  color: #144272;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.card__date {
  color: #3887db;
}
.card__btn {
  font-size: 12px;
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  background-color: #3887db;
  color: white;
  transition: 0.5s ease-in-out;
}
.card__btn:hover {
  color: #3887db;
  background-color: white;
  font-weight: 600;
  font-size: 13px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  height: 50px;
  background-color: #3887db;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  margin: 0 5px;
  height: 40px;
}
.navbar__menu-label {
  color: rgb(255, 255, 255);
  height: 42px;
  width: 42px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: 200px;
}
.navbar__menu-icon {
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: #3887db;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid transparent;
}
.navbar__nav-link {
  color: rgb(255, 255, 255);
  font-size: 14px;
  transition: 0.5s ease-in-out;
  position: relative;
}
.navbar__nav-link::after {
  content: "";
  position: absolute;
  background-color: #F3EFE0;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s ease-in-out;
}
.navbar__nav-link:hover::after {
  width: 100%;
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 30px;
  height: 30px;
}
.user-navbar .fa-cart-shopping {
  font-size: 20px;
  color: white;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    background-color: transparent;
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
  }
  .navbar__nav-link {
    font-size: 18px;
  }
  .user-navbar {
    order: 3;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__contact-item {
  list-style: none;
  padding: 10px 0;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 30px;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    min-height: 200px;
  }
  .footer__contact-icon {
    font-size: 30px;
  }
  .footer__logo {
    width: 100px;
    height: 100px;
  }
}
.main {
  margin-top: 50px;
  padding: 1.5rem 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  height: 50px;
  background-color: #3887db;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  margin: 0 5px;
  height: 40px;
}
.navbar__menu-label {
  color: rgb(255, 255, 255);
  height: 42px;
  width: 42px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: 200px;
}
.navbar__menu-icon {
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: #3887db;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid transparent;
}
.navbar__nav-link {
  color: rgb(255, 255, 255);
  font-size: 14px;
  transition: 0.5s ease-in-out;
  position: relative;
}
.navbar__nav-link::after {
  content: "";
  position: absolute;
  background-color: #F3EFE0;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s ease-in-out;
}
.navbar__nav-link:hover::after {
  width: 100%;
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 30px;
  height: 30px;
}
.user-navbar .fa-cart-shopping {
  font-size: 20px;
  color: white;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    background-color: transparent;
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
  }
  .navbar__nav-link {
    font-size: 18px;
  }
  .user-navbar {
    order: 3;
  }
}
.main {
  margin-top: 50px;
  padding: 1.5rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__contact-item {
  list-style: none;
  padding: 10px 0;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 30px;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    min-height: 200px;
  }
  .footer__contact-icon {
    font-size: 30px;
  }
  .footer__logo {
    width: 100px;
    height: 100px;
  }
}
body {
  background-color: rgba(128, 128, 128, 0.226);
}

.section-cards {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}
.section-cards__header {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}
.section-cards__title-container {
  display: flex;
  flex-direction: column;
}
.section-cards__title {
  font-size: 50px;
  color: #3887db;
  text-shadow: 1px 1px 2px #144272;
  letter-spacing: 5px;
}
.section-cards__subtitle {
  color: #444;
  font-weight: 600;
  font-size: 1rem;
}
.section-cards__products-search-container {
  padding: 1rem;
}
.section-cards__title-count {
  font-size: 15px;
}
.section-cards__category {
  font-family: "Roboto", sans-serif;
  color: rgb(61, 60, 60);
  display: flex;
}

.cards-container {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 18px;
}

.product-search {
  background-color: white;
  height: 40px;
  width: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.158);
  transition: 0.6s ease-in-out;
  padding: 0 15px;
}
.product-search__input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
}

.fa-magnifying-glass {
  cursor: pointer;
  font-size: 17px;
  color: #3887db;
}

.whatsapp-container__link {
  position: fixed;
  transform: all 0.5s ease;
  background-color: #25d366;
  display: block;
  text-align: center;
  box-shadow: 0 0 20px rbga(0, 0, 0, 0.15);
  border-radius: 50px;
  border-right: none;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  bottom: 70px;
  right: 25px;
  border: 0;
  z-index: 9999;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.whatsapp-container__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}
.whatsapp-container__link:focus {
  border: none;
  outline: none;
}
@-webkit-keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@media screen and (min-width: 1000px) {
  .section-cards__header {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  .section-cards__products-search-container {
    padding: 1rem;
    width: 50%;
  }
  .cards-container {
    margin: 0 auto;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  height: 50px;
  background-color: #3887db;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  margin: 0 5px;
  height: 40px;
}
.navbar__menu-label {
  color: rgb(255, 255, 255);
  height: 42px;
  width: 42px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: 200px;
}
.navbar__menu-icon {
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: #3887db;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid transparent;
}
.navbar__nav-link {
  color: rgb(255, 255, 255);
  font-size: 14px;
  transition: 0.5s ease-in-out;
  position: relative;
}
.navbar__nav-link::after {
  content: "";
  position: absolute;
  background-color: #F3EFE0;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s ease-in-out;
}
.navbar__nav-link:hover::after {
  width: 100%;
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 30px;
  height: 30px;
}
.user-navbar .fa-cart-shopping {
  font-size: 20px;
  color: white;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    background-color: transparent;
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
  }
  .navbar__nav-link {
    font-size: 18px;
  }
  .user-navbar {
    order: 3;
  }
}
.main {
  margin: 50px 15px;
  padding: 1.5rem 0;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container {
  margin: 5px;
  width: 100%;
  height: auto;
}

textarea {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

label {
  display: flex;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #3887db;
}

.title {
  margin-left: 15px;
  display: flex;
  color: #3887db;
}

.container-form {
  border-radius: 10px;
  background-color: rgba(94, 92, 92, 0.36);
  width: 100%;
  padding: 5px;
}
.container-form__input {
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
}
.container-form__btn {
  border-radius: 5px;
  background-color: #3887db;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  margin: 10px 3px;
  display: flex;
  cursor: pointer;
}

form {
  margin: 0 15px;
}

.container-iframe {
  width: 100%;
}

iframe {
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 1000px) {
  .main:not(h1) {
    display: flex;
    flex-direction: row;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__contact-item {
  list-style: none;
  padding: 10px 0;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 30px;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
  }
  .footer__contact-icon {
    font-size: 30px;
  }
  .footer__logo {
    width: 100px;
    height: 100px;
  }
}/*# sourceMappingURL=main.css.map */