.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-dark-gray;
    &__column {
        padding: 1rem 1.5rem;
    }

    &__contact-item {
        list-style: none;
        padding: 10px 0;

    }

    &__contact-link {
        color: white;
        padding: .25rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        

        
    }

    &__contact-icon {
        font-size: 30px;
        &--facebook {

            color: #38529a;
        }
        &--instagram {
            display: inline-block;
            text-align: center;
            border-radius: 10px;
            color: #fff;
            vertical-align: middle;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        }
        &--linkedin {
            color: #0077b6;
        }
    }
    &__column {
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    &__logo {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
}

@media screen and(min-width: 600px) {
    .footer {
        flex-direction: row;
        justify-content: space-around;
        min-height: 200px;
        &__contact-icon {
            font-size: 30px;
        }
        &__logo {
            width: 100px;
            height: 100px;
        }
    }
}