.header {
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar {
    height: 50px;
    background-color: $color-bg-secondary;
    display: flex;
    align-items: center;
    position: relative;
    &__logo {
        margin: 0 5px;
        height: 40px;
    }

    &__menu-label {
        color: $color-text-ligth;
        height: 42px;
        width: 42px;
        margin-right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
    }

    &__menu-btn:checked ~ &__nav-links-container {
            height: 200px
    }

    &__menu-icon {
        height: 2px;
        background-color: $color-text-ligth;
        width: 18px;
        position: relative;

        &::after, &::before {
            content: '';
            height: 2px;
            background-color: $color-text-ligth;
            position: absolute;
            width: 100%;
            transition: all .2s ease-out;
        }
        &::after {
            top: 5px;
        }
        &::before {
            top: -5px;
        }
    }

    &__menu-btn:checked ~ &__menu-label &__menu-icon {
        background: transparent;
        &::after {
            transform: rotate(45deg);
            top: 0;
        }

        &::before {
            transform: rotate(-45deg);
            top: 0;
        }
    }

    &__nav-links-container {
        list-style: none;
        position: absolute;
        top: 50px;
        background-color: $color-bg-secondary;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all .2s ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__nav-item {
        padding: 1.25rem 1rem;
        
        &:not(:last-child) {
            border-bottom: 2px solid transparent;

        }
    }
    &__nav-link {
        color: $color-text-ligth;
        font-size: 14px;
        transition: .5s ease-in-out;
        position: relative;

        &::after {
            content: "";
        position: absolute;
        background-color: #F3EFE0;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -2px;
        transition: 0.3s ease-in-out;
    }
        &:hover::after {
            width: 100%;
        }
}
}
.user-navbar {
    
    margin-left: auto;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 0 .5rem;
    align-items: center;
    padding: 0 1rem;
    &__user-avatar {
            width: 30px;
            height: 30px;
    }
    .fa-cart-shopping{
        font-size: 20px;
        color: white;
        transition: .2s ease-in;
        &:hover {
            color: rgb(248, 180, 52);
        }
    }
}

@media screen and (min-width: 600px) {
    .product-search-header {
        display: none;
    }
    .navbar {
        &__menu-label, &__menu-btn {
            display: none;
        }
        &__nav-links-container {
            background-color: transparent;
            position: static;
            flex-direction: row;
            height: 100% !important;
            width: auto;
        }
        &__nav-link {
            font-size: 18px;
        }
        
    }
    .user-navbar {
        order: 3;
    }
}

@media screen and (max-width: 600px) {
    .product-search-header {
        background-color: white;
        height: 40px;
        width: 100%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.158);
        transition: .6s ease-in-out;
        padding: 0 15px;
        &__input {
            width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        background-color: transparent;
        }
    }
    .user-navbar {
        width: 100%;
    }
}