
.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    transition: .5s ease-in-out;
    background-color: white;
    &:hover {
        box-shadow: 3px 3px 60px rgba(13, 13, 14, 0.253);
    }
    &__header {
        width: 100%;
        height: 400px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: end;
    }

    &__title {
        height: 20%;
        font-weight: 500;
        font-size: 1.5rem;
    }

    &__description {
        height: 60%;
        display: flex;
        flex-direction: row;
        padding: 1rem 1rem;
        font-family: 'Roboto', sans-serif;
        text-align: start;
    }
    &__price {
        height: 20%;
        display: flex;
        justify-content: center;
        font-weight: 500;
        font-size: 1.5rem;
        color: $color-bg-primary;
    }

    &__footer {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        justify-content: space-between;
        padding: 1rem;
    }

    &__date {
        color: $color-bg-secondary;
    }

    
    &__btn {
        font-size: 12px;
        padding: .5rem .5rem;
        border-radius: 15px;
        background-color: $color-bg-secondary;
        color: white;
        transition: .5s ease-in-out;
        &:hover {
            color: $color-bg-secondary;
            background-color: white;
            font-weight: 600;
            font-size: 13px;
        }
    }
}